" 将leader配置为 ;
let mapleader=";"
"按 <leader>w 保存文件
nmap <leader>w :w<CR>
"在可视模式下使用p粘贴时不替换寄存器内容
vnoremap p "_dP
inoremap kk <Esc>
" 在IDEA中, 将 left, down, up, right 映射成Alt+h/j/k/l 即可
set cursorline
set hlsearch
set incsearch

